_site
.sass-cache
.DS_Store
.ruby-version
node_modules
.jekyll-cache/
.jekyll-cache/*
_vendor
sample_posts/2014-12-10-test-post.stub
sample_posts/2014-12-11-image-in-post.stub
sample_posts/2014-12-12-figure-with-caption.stub
sample_posts/2014-12-13-code-snippet.stub
sample_posts/2014-12-14-featured-image.stub
sample_posts/2014-12-15-example-post-formatting.stub
sample_posts/2023-08-13-fft-interpolation.stub
_posts/2025-08-18-building-a-rag-system.md
